.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
.ng-invalid{
  border: 3px red solid;
}
.ng-valid{
  border: 3px green solid; 
}
.ng-invalid + label:after {
content: '<-- pick one'
}