<h1>Angular.io learning form</h1>
<h2>form validations</h2>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
      <input name="first" ngModel required #first="ngModel">
      <input name="last" ngModel>
      <button>Submit</button>
    </form>
    <p>First name value: {{ first.value }}</p>
    <p>First name valid: {{ first.valid }}</p>
    <p>Form value: {{ f.value | json }}</p>
    <p>Form valid: {{ f.valid }}</p>
    <hr size='3'>
   <h2>inputs</h2>
   <input type="text" [(ngModel)]="username" #inputRef="ngModel"><br>
   {{username}}
   <hr size='3'>
   {{inputRef.untouched}}
   <hr size='3'>
   <hr size='3'>
   <h2>input validation</h2>
      <input type="text" required [(ngModel)]="name" #nameRef='ngModel'><br>
   {{nameRef.valid}}
   <hr size='3'>
   <h2>Display validation and error messaging</h2>
    <input type="text" required [(ngModel)]="lastname" #lastnameRef='ngModel' minlength="3">
    <div *ngIf="lastnameRef.errors?.required">This field is required</div>
    <div *ngIf="lastnameRef.errors?.minlength">This field must be longer then 3</div>
   {{lastnameRef.errors | json}}
   <hr size='3'>
   <h2>Submit a form</h2>
   <form #formRef='ngForm' (ngSubmit)="onSubmit(formRef.value)">
       <input name="email" type="text" required [(ngModel)]="email" #emailRef='ngModel'>
       <button type="submit">Submit</button>
   </form>
   {{formRef.value | json}}
   <hr size="3">
   <h2>Gruop login</h2>
   <form #user='ngForm' (ngSubmit)="onSubmit(user.value)">
     <fieldset ngModelGroup="login">
       <input name="email" type="text" required ngModel>
       <input name="password" type="text" required ngModel>
       </fieldset>
       <button type="submit">Submit</button>
   </form>   
